core/src/test/resources/wsdl/wsdl-import/schema/importedSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<xs:schema
    xmlns:tns="http://imported/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    version="1.0"
    targetNamespace="http://imported/">
    <xs:element name="uploadJson" type="tns:uploadJson"/>
    <xs:element name="uploadJsonResponse" type="tns:uploadJsonResponse"/>
    <xs:element name="uploadXml" type="tns:uploadXml"/>
    <xs:element name="uploadXmlResponse" type="tns:uploadXmlResponse"/>
    <xs:complexType name="uploadXml">
        <xs:sequence>
            <xs:element name="user" type="xs:string" minOccurs="0"/>
            <xs:element name="password" type="xs:string" minOccurs="0"/>
            <xs:element name="appName" type="xs:string" minOccurs="0"/>
            <xs:element name="data" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="uploadXmlResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="uploadJson">
        <xs:sequence>
            <xs:element name="user" type="xs:string" minOccurs="0"/>
            <xs:element name="password" type="xs:string" minOccurs="0"/>
            <xs:element name="appName" type="xs:string" minOccurs="0"/>
            <xs:element name="data" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="uploadJsonResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>